<div class="header">
    <div class="title">
       <span>Flink Jobs 配置控制台</span> 
    </div>
    <div class="userInfo" style="border: aliceblue;margin-right: 22.5%;">{{ctrl.name}}</div><div class="userInfo">
        我的信息 
    </div >
</div>
<div id='loadingdialog' class='loading dialog' style="z-index: 10;display: block;background-color: rgba(0,0,0,0.8);">
        <div class='dialoginner'>
             <span class='dialogTitle' style="font-size:large; position: relative;top: 50px;left:30%;border: aliceblue"> 
                <div id="loadbox" style="position: relative;bottom: 20px;">  <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                 拼命加载中...</div> 
              <div id="connectfailbox" style="display: none"> <img style="height: 64px;margin-right: 10px;" src="public/plugins/grafana-example-app/img/connectfail.png"/>网络错误：连接被拒绝</div>
              <div id="operatefailbox" style="display: none"> <img style="height: 64px;margin-right: 10px;" src="public/plugins/grafana-example-app/img/connectfail.png"/>网络错误或数据不存在</div>
              <div id="addfailbox" style="display: none"> <img style="height: 64px;margin-right: 10px;" src="public/plugins/grafana-example-app/img/connectfail.png"/>操作失败：输入规则已存在</div>
                </span>
        <div id="dialogbtns" class='dialogbtns'>
                <button id="dialogok"  class='gbutton' onclick="location.reload()" style='display: none;background-color: cornflowerblue;width: 100%'>刷新页面</button>
                <button id="dialogclose"  class='gbutton' onclick="$('#dialogclose').css('display','block');$('#addfailbox').css('display','none');$('#loadingdialog').css('display','none')" style='display: none;background-color: cornflowerblue;width: 100%'>确定</button>
            <!--<button id="reinit"  class='gbutton'  style='background-color: cornflowerblue;width: 100%'>重新加载</button>--></div>
        </div>
    </div>
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
   <!-- <div id='title'>
      <span>
        PURE CSS 纯汉字测试CSS
      </span>
      <br>
      <span>
        PARALLAX PIXEL STARS
      </span>
    </div>-->

<div class="wait container" >
    <div class="containerinfo">
        <div class="containertitle">&puncsp;</div>
        <div class="jobtype">&puncsp;</div>
        <table style="width:95%">
                <tr>
                  <th>&puncsp;</th>
                  <td>&puncsp;</td>
                </tr>
                <tr>
                  <th>&puncsp;</th>
                  <td>&puncsp;</td>
                </tr>
                <tr>
                 <th>&puncsp;</th>
                <td>&puncsp;</td>
                </tr> 
                <tr>
                <th>&puncsp;</th>
                <td>&puncsp;</td>
                </tr>
              </table>
    </div>
    <div class="containerbtns">
<button id="showbtn" class="gbutton">&puncsp;</button>
<button class="gbutton" type="button">&puncsp;</button>
<input class="gbutton" type="button" value=" " />
<input class="gbutton" type="button" value=" " />
    </div>
</div>
<div class="wait container" >
        <div class="containerinfo">
            <div class="containertitle">&puncsp;</div>
            <div class="jobtype">&puncsp;</div>
            <table style="width:95%">
                    <tr>
                      <th>&puncsp;</th>
                      <td>&puncsp;</td>
                    </tr>
                    <tr>
                      <th>&puncsp;</th>
                      <td>&puncsp;</td>
                    </tr>
                    <tr>
                     <th>&puncsp;</th>
                    <td>&puncsp;</td>
                    </tr> 
                    <tr>
                    <th>&puncsp;</th>
                    <td>&puncsp;</td>
                    </tr>
                  </table>
        </div>
        <div class="containerbtns">
    <button id="showbtn" class="gbutton">&puncsp;</button>
    <button class="gbutton" type="button">&puncsp;</button>
    <input class="gbutton" type="button" value=" " />
    <input class="gbutton" type="button" value=" " />
        </div>
    </div>
    <div class="wait container" >
            <div class="containerinfo">
                <div class="containertitle">&puncsp;</div>
                <div class="jobtype">&puncsp;</div>
                <table style="width:95%">
                        <tr>
                          <th>&puncsp;</th>
                          <td>&puncsp;</td>
                        </tr>
                        <tr>
                          <th>&puncsp;</th>
                          <td>&puncsp;</td>
                        </tr>
                        <tr>
                         <th>&puncsp;</th>
                        <td>&puncsp;</td>
                        </tr> 
                        <tr>
                        <th>&puncsp;</th>
                        <td>&puncsp;</td>
                        </tr>
                      </table>
            </div>
            <div class="containerbtns">
        <button id="showbtn" class="gbutton">&puncsp;</button>
        <button class="gbutton" type="button">&puncsp;</button>
        <input class="gbutton" type="button" value=" " />
        <input class="gbutton" type="button" value=" " />
            </div>
        </div>
<div id="containers"></div>
<!--
<div id='myModal' class='modal' style='display: block;padding-top:50px'>
  <span id='close_'+obj.jobId+''><button type='button' class='dialogclose'>关闭</button></span>
  <div class='containertitle'>配置报警阀值</div><div class='jobtype'>'+obj.jobName+'</div>
  <table style='width:95%;margin: 15px 0 100px 15px;'>
    <tr><th style='width: 1%'>选择</th> <th><p style='margin-left: 20%;'>规则内容</p></th></tr>

    <tr><td><label><input type='radio' name='1' id='' class='a-radio'><span class='b-radio'></span></label></td> 
       <td class='dialogtdrule' style='background-color: #9ccadcf2;'><p style='margin-left: 20%;'>1分钟10次</p></td></tr>

    <tr><td > <label><input type='radio' name='1' id='' class='a-radio'><span class='b-radio'></span> </label></td>
       <td class='dialogtdrule' style='background-color: #9ccadcf2;'><p style='margin-left: 20%;'>10分钟100次</p></td></tr>
      </table>

      <table style='width:95%;margin: 15px 0 100px 15px;'>
          <tr  style='background-color: #9ccadcf2'>
             <th style='width: 1%'>选择</th><th><p style='margin-left: 50%;'>自定义</p></th> <th></th></tr>
             
          <tr><tr><td><label><input type='radio' name='1' id='' class='a-radio'><span class='b-radio'></span></label></td> 
            <td ><label for='inp' class='inp'>
                <input type='text' id='inp' placeholder='&nbsp;'>
                <span class='label'>分钟数</span>
                <span class='border'></span>
              </label></td>
              <td><label for='inp2' class='inp'>
                  <input type='text' id='inp2' placeholder='&nbsp;'>
                  <span class='label'>触发次数</span>
                  <span class='border'></span>
                </label></td></tr>
            </table>
            <button id='' class='gbutton addbtn' >确认更改</button>
  </div>
	
<div class="container" >
        <div class="containerinfo">
            <div class="containertitle">&puncsp;信息详情</div>
            <div class="jobtype">Log关键字过滤报警形任务</div>
            <table style="width:95%">
                    <tr>
                      <th>ID</th>
                      <td>1000</td>
                    </tr>
                    <tr>
                      <th>名称</th>
                      <td>消息队列(RabbitMQ)(12 panels)</td>
                    </tr>
                    <tr>
                     <th>关键字条数</th>
                    <td>25</td>
                    </tr> 
                    <tr>
                    <th>报警阈值</th>
                    <td>NULL</td>
                    </tr>
                  </table>
        </div>
        <div class="containerbtns">
    <button id="showbtn" class="gbutton" 
    onclick="$('#myModal').css('display','block');
     $('#close').click(function(){
      $('#myModal').css('display','none');
     });
    ">配置过滤关键字</button>
    <button class="gbutton" type="button">配置报警阈值</button>
    <input class="gbutton" type="button" value="修改任务名称" />
    <input class="gbutton" type="button" value="Flink集群监控" />
        </div>
    </div>
    <div id="myModal" class="modal">
        <img class="modal-content" id="img01">
        This is the Model DIV
        <ul>
            <li><input type="text" value="Error"/>
                <input onclick="$('#dialog').css('display','block');
                $('#closeDialog').click(function(){
                    $('#dialog').css('display','none')
                   });" class="gbutton" type="button" value="删除-" /></li>
            <li><input type="text" value="Error"/><input class="gbutton" type="button" value="删除" /></li>
            <li><input type="text" value="Error"/><input class="gbutton" type="button" value="删除" /></li>
            <li> <input class="gbutton" type="button" value="添加" /><input class="gbutton" type="button" value="提交" /></li>
        </ul>
        <span id="close"class="close"><button type="button" class="btn btn-info">关闭</button></span>
        <div id="caption"></div>
    </div>
    <div id='dialog' class='dialog'>
        <div class='dialoginner'>
             <span class='dialogTitle'>请确认本次操作删除的内容</span>  <span id='closeDialog'><button type='button' class='dialogcb gbutton'>X</button></span>
             <ul class='dialogul'>
                 <li>#*@FIHWJNSAJ)!J@(EUQ(DQHD</li>
                 <li>@!(*EHDSHQNWINDUQWINQWDQI</li>
                 <li>DQIJ!)J)WJSJ)!@U)*)!U#)(U#(@</li>
             </ul> 
        <div class='dialogbtns'><input class='gbutton' type='button' value='确认' style='background-color: orangered;' /></li><input class='gbutton' type='button' style='color: black;background-color: gray;' value='取消' /></li></div>
        </div>
    </div>
   -->