/**
主界面UI：
*/
.header{
    width: 210%;
    height: 100px;
    line-height: 44px;
    border-top: solid 3px #F48024;
    position: relative;
    right: 50%;

}
.title{
    display: inline-block;
    float: left;
    border-left: solid #4CAF50;
    font-size: initial;
    margin: 15px 0 0 20%;
    padding-left: 10px;
}
.userInfo{
    float: right;
    font-size: initial;
    margin: 15px 5px 0 5px;
    border-right: solid;
    padding-right: 5px;
}
.container{
    width: 100%;
    height: 230px;
    padding: 10px;
    margin: 0 0 40px 0;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 2px #607D8B;
    background-color: #303032;
}
.gbutton {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    color: #d8d9da;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 8px;
    cursor: pointer;
    font-size: initial;
    padding: 0;
    box-shadow: 0px 0px 8px 0px rgba(255, 255, 255,  0.16);
}
.containertitle{
    border-left: solid #03A9F4 10px;
    font-size: initial;
    margin: 0 0 0 1%;
    padding-left: 10px;
}
.containerinfo{
    border-right: solid;
    display: inline-block;
    width: 65%;
}
.jobtype{
    font-size: 17px;
    margin: 1%;
    font-style: italic;
    letter-spacing: 1.5px;
    color: darkgray;
    text-shadow: 2px 2px 20px;
}
.containerbtns{
    float: right;
    display: inline-grid;
    width: 30%;
}
table{
    background-color: transparent;
    width: 95%;
    text-shadow: 6px 2px 12px;
    box-shadow: 7px 7px 0px 0px rgba(255, 255, 255, 0.29);
}
th {
    font-size: 17px;
    color: #212124;
    border-bottom: 1px solid #C1DAD7;
    letter-spacing: 2px;
    padding: 2px 6px 2px 12px;
    background: #82b9ce;
}
td {
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    background: #d8d9dae8;
    padding: 6px 6px 6px 12px;
    color: #2f2f32;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*li{
    border-bottom: 1px solid;
    border-bottom-color: aliceblue;
}*/

/*模态框CSS*/
/* The Modal (background) */
.modal {
    transition: 0.3s;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
.dialog {
    transition: 0.3s;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
.dialogTitle{
    font-size: large;
    border-left: solid 10px orange;
    padding-left: 10px;
}
.dialoginner{
    border-top: solid 7px darkgoldenrod;
    border-bottom: solid 7px darkgoldenrod;
    height: 300px;
    padding: 20px 25%;
    box-shadow: 0px 0px 20px 0px #F44336;
}
.dialogbtns input{
    width: 49%;
    font-size: initial;
    padding: 0;
    box-shadow: 3px 3px antiquewhite;
}
.dialogul{
    margin: 10px
}
.dialogul li{
    font-size: small;
    border: aliceblue;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 10px;
}
.dialogbtns{
    position: absolute;
    top: 470px;
    left: 24.8%;
    width: 50%;
    display: flex;
}
.dialogBtn{
    width: 100%;
    margin: 7px 0 7px 0;
    background-color: hsl(193, 100%, 44%);
    box-shadow: 2px 2px 5px 2px #6d7e82f2;
    border-radius: 3px;
}
.addbtn{
    width: 712px;
    position: fixed;
    bottom: 5px;
    background-color: #0ca9a9d9;
    color: aliceblue;
    padding: 9px;
    margin-left: 15px;
    text-shadow: 0px 0px 19px #161719;
}
/*Loading dialog页面*/
.loading{
    z-index: 2;
    display: block;
}
.loading .dialoginner{
    box-shadow: 0px 0px 20px 0px;
    border-bottom: solid 7px;
    border-top: solid 7px;
}
/* Modal Content (image) */
.modal-content,.dialog-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal,.dialog, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.5s;
    animation-name: zoom;
    animation-duration: 0.5s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes zoom {
    from {transform: scale(0.1)}
    to {transform: scale(1)}
}

/* The Close Button */
        .dialogclose {
            position: absolute;
            right: 0;
            font-weight: bold;
            background-color: rgba(255, 255, 255, 0.2);
            border: none;
            color: #d8d9da54;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 8px;
            font-size: initial;
            padding: 6px 15px;
            box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.16);
            border-radius: 30px;
            cursor: pointer;
            transition: 0.3s;
        }

.dialogclose:hover,.dialogclose:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;}

    /*Loading 动画*/
    .lds-spinner {
        color: official;
        display: inline-block;
        position: relative;
        top: 20px;
        width: 64px;
        height: 64px;
      }
      .lds-spinner div {
        transform-origin: 32px 32px;
        animation: lds-spinner 1.2s linear infinite;
      }
      .lds-spinner div:after {
        content: " ";
        display: block;
        position: absolute;
        top: 3px;
        left: 29px;
        width: 5px;
        height: 14px;
        border-radius: 20%;
        background: #cef;
      }
      .lds-spinner div:nth-child(1) {
        transform: rotate(0deg);
        animation-delay: -1.1s;
      }
      .lds-spinner div:nth-child(2) {
        transform: rotate(30deg);
        animation-delay: -1s;
      }
      .lds-spinner div:nth-child(3) {
        transform: rotate(60deg);
        animation-delay: -0.9s;
      }
      .lds-spinner div:nth-child(4) {
        transform: rotate(90deg);
        animation-delay: -0.8s;
      }
      .lds-spinner div:nth-child(5) {
        transform: rotate(120deg);
        animation-delay: -0.7s;
      }
      .lds-spinner div:nth-child(6) {
        transform: rotate(150deg);
        animation-delay: -0.6s;
      }
      .lds-spinner div:nth-child(7) {
        transform: rotate(180deg);
        animation-delay: -0.5s;
      }
      .lds-spinner div:nth-child(8) {
        transform: rotate(210deg);
        animation-delay: -0.4s;
      }
      .lds-spinner div:nth-child(9) {
        transform: rotate(240deg);
        animation-delay: -0.3s;
      }
      .lds-spinner div:nth-child(10) {
        transform: rotate(270deg);
        animation-delay: -0.2s;
      }
      .lds-spinner div:nth-child(11) {
        transform: rotate(300deg);
        animation-delay: -0.1s;
      }
      .lds-spinner div:nth-child(12) {
        transform: rotate(330deg);
        animation-delay: 0s;
      }
      @keyframes lds-spinner {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
      /*星星背景*/
      #stars,#stars1,#stars2{
          position: relative;
          right: 50%;
      }
      /*radio*/
      .a-radio{
        display: none;
    }
    .b-radio{
        display: inline-block;
        border:1px solid #ccc;
        width:32px;
        height: 32px;
        border-radius:2px;
        vertical-align: middle;
        margin-right: 5px;
        position: relative;
    }
    .b-radio:before{
        content: '';
        font-size: 0;
        width: 24px;
        height: 24px;
        background: rgb(143, 188, 238);
        position: absolute;
        left:50%;
        top:50%;
        margin-left: -12px;
        margin-top: -12px;
        border-radius: 2px;
        display: none;
    }
    .a-radio:checked~.b-radio:before{
        display: block;
    }
 
    
  /*input
  .input {
    position: relative;
    font-size: 1.5em;
    background: linear-gradient(21deg, #10abff, #1beabd);
    padding: 3px;
    display: inline-block;
    border-radius: 9999em;
  }
  .input *:not(span) {
    position: relative;
    display: inherit;
    border-radius: inherit;
    margin: 0;
    border: none;
    outline: none;
    padding: 0 .325em;
    z-index: 1;
  }
  .input *:not(span):focus + span {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .input span {
    -webkit-transform: scale(0.993, 0.94);
            transform: scale(0.993, 0.94);
    transition: opacity .25s, -webkit-transform .5s;
    transition: transform .5s, opacity .25s;
    transition: transform .5s, opacity .25s, -webkit-transform .5s;
    opacity: 0;
    position: absolute;
    z-index: 0;
    margin: 4px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    pointer-events: none;
    box-shadow: inset 0 0 0 3px #fff, 0 0 0 4px #fff, 3px -3px 30px #1beabd,  -3px 3px 30px #10abff;
  }
  
  input {
    font-family: inherit;
    line-height: inherit;
    color: #2e3750;
    min-width: 12em;
  }
  
  ::-webkit-input-placeholder {
    color: #cbd0d5;
  }
  
  :-ms-input-placeholder {
    color: #cbd0d5;
  }
  
  ::-ms-input-placeholder {
    color: #cbd0d5;
  }
  
  ::placeholder {
    color: #cbd0d5;
  }
  
  html::after {
    content: '';
    background: linear-gradient(21deg, #10abff, #1beabd);
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }*/
  /*input2*/
body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

.inp {
  position: relative;
  margin: auto;
  width: 100%;
}
.inp .label {
  background-color: #ffffff00;
  position: absolute;
  top: 20px;
  left: 0;
  font-size: 16px;
  color: #9098a9;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
}
.inp .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #07f;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
}
.inp input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 12px 0;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid #c8ccd4;
  background: none;
  border-radius: 0;
  color: #223254;
  transition: all 0.15s ease;
}
.inp input:hover {
  background: rgba(34,50,84,0.03);
}
.inp input:not(:placeholder-shown) + span {
  color: #5a667f;
  transform: translateY(-26px) scale(0.75);
}
.inp input:focus {
  background: none;
  outline: none;
}
.inp input:focus + span {
  color: #07f;
  transform: translateY(-26px) scale(0.75);
}
.inp input:focus + span + .border {
  transform: scaleX(1);
}
